{% extends "layout.html" %}
{% block body %}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai.jpg'); background-size: cover;">





        <div class="container" style=" padding: 20px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color: #ffffff;">Dattebayo Blog</h1>
                        <hr class="small">
                        <span class="subheading" style="color: #f8f8f8;">If Have a Thought , Just Blog It Out</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/article1">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#" style="color: #333;">Xenapie Blogs</a> on September 24, 2023</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/article2">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#" style="color: #333;">Xenapie Blogs</a> on September 18, 2023</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="/article3">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#" style="color: #333;">Xenapie Blogs</a> on August 24, 2023</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="article4">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it's actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#" style="color: #333;">Xenapie Blogs</a> on July 6, 2023</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="/olderpost">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

 
{% endblock %}